@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 100;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 200;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 300;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 400;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Bold");
    font-weight: bold;
}
@font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue Regular");
    font-weight: 100;
}
@font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue Regular");
    font-weight: 200;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}

@media all and (-ms-high-contrast: none)  {
    html {
        font-family: Verdana, Meiryo, sans-serif;
    }
}

@media all and (-ms-high-contrast: active) {
    html {
        font-family: Verdana, Meiryo, sans-serif;
    }
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    line-height: 1.5em;
    color: #333333;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

a {
    color: #5BC8D4;
}

img {
    max-width: 100%;
    height: auto;
}

#hero {
    display: block;
    margin:0;
    padding:0;
    background-image: url(./images/hero.png);
    background-size: contain;
    width: auto;
    height: 0;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}

.footer_links {
    text-align: center;
}

.copyright {
    margin-top: 32px;
    margin-bottom: 64px;
    text-align: center;
}

.images3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images3 .image {
    width: 33%;
    height: auto;
    text-align: center;
}

.images2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images2 .image {
    width: 50%;
    height: auto;
    text-align: center;
}

@media screen and (max-width:768px) {
    .container {
        width: auto;

    }
}

@media screen and (min-width: 769px) {
    .container {
        width: 768px;
        margin: 0 auto;
    }
}